title {
  display: Nisse's;
}

body {
	background-color: #ffffff;
}

body {
  background-image: linear-gradient(to bottom right, #ffffff, #f2f2f2);
}

h1 {
	color: #737373;
}

h2 {
	color: #737373;
}

h3 {
	color: #737373;
}

h4 {
	color: #737373;
}

p {
	color: #737373;
}

ol {
	color: #737373;
}





ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cccccc;
}
li {
  float: left;
}
li a {
display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #bfbfbf;
}
.active {
  background-color: #d9d9d9;
}
